In [99]:
import pandas as pd
import json as js
from datetime import datetime

In [100]:
with open("fotmobSeason2010_2011.json") as fm:
    data = js.load(fm)
type(data)

dict

In [101]:
data.keys()

dict_keys(['tabs', 'allAvailableSeasons', 'details', 'seostr', 'QAData', 'table', 'transfers', 'news', 'overview', 'stats', 'matches', 'playoff'])

In [305]:

rr = []
for i in data['matches'].keys():
    inf = data['matches'][i]
    dataa = data['overview']['table']
    for i in dataa:
        for k in i.keys():
            ke = i['teamForm']
        rr.append({
            'KEy': ke,
        })
        for i in ke.keys():
            inf = ke[i]
            rr[-1][i] = inf

df = pd.DataFrame(rr)
print(df)

                                                 KEy  \
0  {'8455': [{'result': 1, 'resultString': 'W', '...
1  {'8455': [{'result': 1, 'resultString': 'W', '...

                                                8455  \
0  [{'result': 1, 'resultString': 'W', 'imageUrl'...
1  [{'result': 1, 'resultString': 'W', 'imageUrl'...

                                                8456  \
0  [{'result': 1, 'resultString': 'W', 'imageUrl'...
1  [{'result': 1, 'resultString': 'W', 'imageUrl'...

                                                8472  \
0  [{'result': 1, 'resultString': 'W', 'imageUrl'...
1  [{'result': 1, 'resultString': 'W', 'imageUrl'...

                                                8483  \
0  [{'result': 0, 'resultString': 'D', 'imageUrl'...
1  [{'result': 0, 'resultString': 'D', 'imageUrl'...

                                                8528  \
0  [{'result': -1, 'resultString': 'L', 'imageUrl...
1  [{'result': -1, 'resultString': 'L', 'imageUrl...

                                                8559  \
0  [{'result': -1, 'resultString': 'L', 'imageUrl...
1  [{'result': -1, 'resultString': 'L', 'imageUrl...

                                                8586  \
0  [{'result': -1, 'resultString': 'L', 'imageUrl...
1  [{'result': -1, 'resultString': 'L', 'imageUrl...

                                                8602  \
0  [{'result': -1, 'resultString': 'L', 'imageUrl...
1  [{'result': -1, 'resultString': 'L', 'imageUrl...

                                                8650  ...  \
0  [{'result': 1, 'resultString': 'W', 'imageUrl'...  ...
1  [{'result': 1, 'resultString': 'W', 'imageUrl'...  ...

                                                8655  \
0  [{'result': -1, 'resultString': 'L', 'imageUrl...
1  [{'result': -1, 'resultString': 'L', 'imageUrl...

                                                8658  \
0  [{'result': -1, 'resultString': 'L', 'imageUrl...
1  [{'result': -1, 'resultString': 'L', 'imageUrl...

                                                8659  \
0  [{'result': 0, 'resultString': 'D', 'imageUrl'...
1  [{'result': 0, 'resultString': 'D', 'imageUrl'...

                                                8668  \
0  [{'result': -1, 'resultString': 'L', 'imageUrl...
1  [{'result': -1, 'resultString': 'L', 'imageUrl...

                                                9825  \
0  [{'result': -1, 'resultString': 'L', 'imageUrl...
1  [{'result': -1, 'resultString': 'L', 'imageUrl...

                                                9879  \
0  [{'result': 1, 'resultString': 'W', 'imageUrl'...
1  [{'result': 1, 'resultString': 'W', 'imageUrl'...

                                               10194  \
0  [{'result': 1, 'resultString': 'W', 'imageUrl'...
1  [{'result': 1, 'resultString': 'W', 'imageUrl'...

                                               10252  \
0  [{'result': 0, 'resultString': 'D', 'imageUrl'...
1  [{'result': 0, 'resultString': 'D', 'imageUrl'...

                                               10260  \
0  [{'result': 1, 'resultString': 'W', 'imageUrl'...
1  [{'result': 1, 'resultString': 'W', 'imageUrl'...

                                               10261
0  [{'result': 0, 'resultString': 'D', 'imageUrl'...
1  [{'result': 0, 'resultString': 'D', 'imageUrl'...

[2 rows x 21 columns]

In [306]:
pd.DataFrame(rr)
pd.DataFrame(rr).to_csv("hh.csv")

In [281]:
rrr = []
for i in rr:
    rrr.append(i.splitlines())

In [282]:
ew  = pd.DataFrame(rrr)

In [283]:
ew

                            0
0                      839804
1           Tottenham Hotspur
2                   Tottenham
3                        8586
4                      839796
...                       ...
3035                     8654
3036                   840231
3037  Wolverhampton Wanderers
3038                   Wolves
3039                     8602

[3040 rows x 1 columns]

In [284]:
dr =  pd.DataFrame(ew)

In [285]:
dr.to_csv("allKez.csv")

        id                                            pageUrl  \
0     8586  /match/839804/matchfacts/tottenham-hotspur-vs-...
1    10252  /match/839796/matchfacts/aston-villa-vs-west-h...
2     8655  /match/839797/matchfacts/blackburn-rovers-vs-e...
3     8559  /match/839799/matchfacts/bolton-wanderers-vs-f...
4     8472  /match/839803/matchfacts/sunderland-vs-birming...
..     ...                                                ...
755  10261  /match/840230/matchfacts/newcastle-united-vs-w...
756  10194  /match/840234/matchfacts/stoke-city-vs-wigan-a...
757   8586  /match/840226/matchfacts/tottenham-hotspur-vs-...
758   8654  /match/840227/matchfacts/west-ham-united-vs-su...
759   8602  /match/840231/matchfacts/wolverhampton-wandere...

                        name    shortName
0          Tottenham Hotspur    Tottenham
1                Aston Villa  Aston Villa
2           Blackburn Rovers    Blackburn
3           Bolton Wanderers       Bolton
4                 Sunderland   Sunderland
..                       ...          ...
755         Newcastle United    Newcastle
756               Stoke City        Stoke
757        Tottenham Hotspur    Tottenham
758          West Ham United     West Ham
759  Wolverhampton Wanderers       Wolves

[760 rows x 4 columns]

In [288]:
df.to_csv("gpt.csv")